* {
	margin: 0;
	padding: 0;
	color: rgb(255, 0, 179);
	background-color: rgb(0, 255, 191);
	border-color: #8fbf00;
	border-style: solid;
	border-style: #7fdf00;
	border-width: 0.05em;
	border-radius: 0.2em;
	/* width: 10vw; */
}

/* #settingsOverlay {
	display: block;
} */

/* C:\Users\azarl\OneDrive\Downloads\Hämtade filer\Programming\Visual Code\EvoCiv Idle\index.html */




